.inner-wrap{
    width: 1170px;
    margin: 0 auto;
}
.site-nav-wrap{
   width: 100%;
   height: 36px;
   line-height: 36px; 
   background: #F1F3F6;
}
.site-con-wrap{
    font-size: 12px;
}
.site-login-info-wrap{
    float: left;
}
.site-login-info-wrap span{
    cursor: pointer;
   font-size: 12px;
}
.site-login-span2:hover,
.site-quick-menu-wrap>li a:hover{
    color: #4895E7;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.site-quick-menu-wrap>li a span{
    /* color: #4895E7; */
   font-size: 12px;
}
.site-login-span2,
.site-login-span1,
.site-login-span0{
    display: none;
}
.site-login-span1{
    /* color: #4895E7; */
}
.site-login-span2{
    padding: 0 4px;
    color: #282B00;
}
.site-login-span2 a{
    color: #282B00;
}
.site-login-span3{
    color: #82868A;
    padding-left: 8px;
}
.site-info-lt-wrap{
    display: none;
}
.site-info-lt-wrap>li{
    float: left;
}
.site-info-li1{
    position: relative;
}
.site-info-bd-wrap li{
    cursor: pointer;
}
.site-quick-menu-wrap{
    float: right;
    width: auto;
}
.site-quick-menu-wrap>li{
    float: left;
    /*padding: 0 4px;*/
    padding: 0 14px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.site-quick-menu-wrap>li a{
    color: #64676A;
   font-size: 12px;
}
.site-quick-menu-wrap>li.site-separator{
    padding: 0;
    /*padding: 0 10px;*/
    color: #64676A;
    opacity: .15;
    filter: Alpha(opacity=15);
}
.site-has-downmenu-wrap{
    position: relative;
}

.header-search-type-list,
.site-info-bd-wrap,
.site-quick-downmenu-wrap{
    display: none;
    position: absolute;
    /*left: -8px;*/
    left: 1px;
    top: 36px;
    background: #FFFFFF;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border-radius: 0 2px 2px 0;
    text-align: center;
    z-index: 99;
    
}
.header-search-type-list{
    left: 0;
    top: 38px;
    width: 70px;
}
.site-info-bd-wrap{
    width: 104px;
    left: 30px;
}
.site-info-bd-wrap li a,
.site-quick-downmenu-wrap li a{
    display: block;
}
.site-quick-downmenu-wrap{
    width: 86px;
}
.site-quick-downmenu-wrap li{
    cursor: pointer;
}
.header-nav-wrap{
    /* background: #fff; */
    background: rgba(255,255,255,0.95);
}
.header-con-wrap{
    /* padding: 30px 0; */
}
.header-logo-wrap{
    float: left;
    padding-top: 20px;
}
.header-logo-wrap span{
    float: left;
}
.header-logo{
    width: 109px;
    height: 42px;
}
.header-line{
    width: 1px;
    height: 24px;
    margin: 11px 6px 0;
    opacity: .2;
    filter: Alpha(opacity=20);
    background: #A9ADB0;
}
.header-txt{
    line-height: 18px;
    width: 59px;
    margin-top: 1px;
    font-size: 12px;
    color: #64676a;
    padding-top: 4px;
}

.header-nav-list-wrap{
    float: left;
    padding-left: 12px;
    width: auto;
}
.header-nav-list-wrap li{
    float: left;
    padding: 0 15px;
}
.header-nav-list-wrap li a{
    display: inline-block;
    font-size: 16px;
    color: #82868A;
    border-bottom: 2px solid transparent;
    padding: 30px 0;
}
.header-nav-list-wrap li .active,
.header-nav-list-wrap li a:hover{
    color: #4895E7;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.header-nav-list-wrap li .active{
    border-color:#4895E7;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.header-nav-list-wrap li a{
    position: relative;
}
.nav-new,
.nav-hot{
    position: absolute;
    right: -24px;
    top: 25px;
    z-index: 2;
}
.header-search-wrap{
    position: relative;
    float: right;
    width: 306px;
    border: 2px solid rgba(72,149,231,0.50);
    border-radius: 2px;
    margin-top: 21px;
    
}
.header-search-type-wrap{
    position: relative;
    float: left;
    width: 70px;
    border-right: 1px solid #eee;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}
.site-quick-downmenu-wrap li.active a,
.site-quick-downmenu-wrap li:hover a,
.site-info-bd-wrap li.active a,
.site-info-bd-wrap li:hover a,
.header-search-type-list li.active,
.header-search-type-list li:hover{
    color: #579ce8;
    /* background: #e5f0fc; */
}
.site-quick-downmenu-wrap li,
.site-info-bd-wrap li,
.header-search-type-list li{
    /*border-top: 1px solid #E9EBEC;*/
    font-size: 12px;

}
.site-quick-downmenu-wrap li:first-child,
.site-info-bd-wrap li:first-child,
.header-search-type-list li:first-child{
    border: none;
}


.up-img{
    display: none;
}
/* .site-login-span1:hover .down-img, */
.site-has-downmenu-wrap:hover .down-img ,
.header-search-type-wrap:hover .down-img{
    display: none;
}
/* .site-login-span1:hover .up-img, */
.site-has-downmenu-wrap:hover .up-img ,
.header-search-type-wrap:hover .up-img{
    display: inline-block;
}
.down-img,.up-img{
    margin-left: 4px;
}

/* .header-search-type-wrap:hover .header-search-type-list{
    display: block;
} */
.header-search-input-wrap{
    float: left;
    width: 160px;
}
.header-search-input-wrap input{
    width: 100%;
    line-height: 30px;
    padding: 3px 5px;
    border: none;
    font-size: 12px;
}
.header-search-btn, 
.header-publish-btn{
    line-height: 36px;
    background: #4895E7;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: 2px solid #4895E7;
}
.header-publish-btn:hover {
    color:#fff;
}
.header-search-btn{
    /* float: right; */
    position: absolute;
    right: -2px;
    top: -2px;
    width: 72px;
}
.header-publish-btn{
    float: right;
    width: 80px;       
    margin: 21px 0 0 20px;
}

/* 导航定位 */

.header-nav-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
    width: 100%;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.header-nav-no-banner{
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.header-nav-fixed li a{
    padding: 20px 0;
}
.header-nav-fixed .header-publish-btn,
.header-nav-fixed .header-search-wrap{
    margin-top: 11px;
}
.header-nav-fixed .header-logo-wrap{
    padding-top: 10px;
}
.search-type-tit{
    font-size: 12px;
    color: #64676a;
}
#js-site-cart-num{
    font-weight: 500;
    font-size: 14px;
}

.site-quick-downmenu-wrap li, .site-info-bd-wrap li{
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}
.site-info-bd-wrap li a{
    color: #64676A;
}
