.demand-detail-step2-wrap{
    width: 1170px;
    margin: 0 auto;
    /*overflow: hidden;*/
}
.container-left{
    width: 870px;
    background: #fff;
    border-radius: 2px;
    /*padding-bottom: 77px;*/
    /* overflow: hidden; */
    float: left;
}
.container-demand-product{
    /*min-height: 500px;*/
}
.container-demand-product > div{
    padding: 22px 42px 37px 47px;
}
.container-demand-product ul{
    overflow: hidden;
    border-radius: 1px 1px 0 0;
}
.container-demand-product > div > ul > li{
    float: left;
    background: #F7F8FC;
    color: #82868A;
}
.container-demand-product > div > ul > li:nth-child(1){
    width: 92px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}
.container-demand-product > div >  ul > li:nth-child(2){
    width: 110px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}
.container-demand-product > div > ul > li:nth-child(3){
    width: 578px;
    height: 38px;
}
.container-demand-product .product-active{
    background: #FFFFFF;
    color: #4895E7;
    border-top: 2px solid #4895E7;
}
.container-demand-product .show{
    display: block;
}
.container-demand-product > div > div{
    display: none;
    margin-top: 12px;
}
.product-search{
    width: 721px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EFF1F3;
    border-radius: 2px;
    padding-left: 28px;
    font-size: 12px;
    color: #82868A !important;
}
.have-product {
    position: relative;
}
.have-product > span{
    background: #F6FAFF;
    border: 1px solid #DFEAF8;
    border-radius: 2px 0 0 2px;
    display: inline-block;
    width: 60px;
    height: 40px;
    line-height: 40px;
    color: #4895E7;
    text-align: center;
    float: right;
    cursor: pointer;
}
.have-product-icon{
    position: absolute;
    left: 12px;
    top: 12px;
    color: #CCCCCC;
}
.container-demand-product .have-product  .have-product-list > li{
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    color: #64676A;
    border-bottom: 1px solid #EFF1F3;
    padding-left: 20px;
}
.container-demand-product .have-product  .have-product-list > li > span:nth-child(1){
    margin-right: 40px;
}
.container-demand-product .have-product  .have-product-list > li > label{
    margin-right: 12px;
}
.checkbox-inner {
    width:16px;
    height:16px;
    border:1px solid #dcdfe6;
    display:inline-block;
    /*border-radius:50%;*/
    /*background:#3c94ef;*/
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
}
.demand-checked-type{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.demand-checked-item{
    user-select: none;
    cursor: pointer;
}
.create-product > ul > li{
    height: 36px;
    line-height: 36px;
    margin-bottom: 19px;
}
.create-product > ul > li > span:first-child{
    display: inline-block;
    font-size: 14px;
    color: #64676A;
    width: 100px;
    padding-right: 18px;
    text-align: right;
}
.create-product > ul > li > span > span{
    line-height: 36px;
    font-size: 14px;
    color: #ED703A;
    margin-right: 6px;
}
.create-product .create-product-title > input{
    height: 36px;
    width: 680px;
    border: 1px solid #E9EBEC;
    border-radius: 2px;
    float: right;
    padding-left: 11px;
}
.create-product-content .insert-word{
    display: inline-block;
    width: 120px;
    hieght: 36px;
    border: 1px solid #E9EBEC;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    color: #64676A;
    cursor: pointer;
}
.create-product-content > span:nth-child(3), .create-product-price{
    line-height: 36px;
    font-size: 12px;
    color: #A9ADB0;
    margin-left: 6px;
}
.create-product-form{
    overflow: hidden;
}
.create-product-form > div, .create-product-status > div{
    /*float: left;*/
    display: inline-block;
}
.radio-inner {
    width:16px;
    height:16px;
    border:1px solid #dcdfe6;
    display:inline-block;
    border-radius:50%;
    /*background:#3c94ef;*/
    vertical-align: middle;
    cursor: pointer;
}
.create-product-form label, .create-product-status label{
    position: relative;
    margin-right: 30px;
    color: #64676A;
}
.radio-inner-checked {
    width:16px;
    height:16px;
    border-color: #3c94ef;
    display:inline-block;
    border-radius:50%;
    background:#3c94ef;
    vertical-align: middle;
}
.demand-type-radio{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.radio-inner-checked:after{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
    position: absolute;
    left: 8px;
    top: 60%;
    transform: translate(-50%, -50%)
}
.create-product-price input{
    width: 146px;
    height: 36px;
    border: 1px solid #E9EBEC;
    border-radius: 2px;
    padding-left: 11px;
}
.product-options{
    padding-top: 20px;
}
.product-options > span, .product-options .product-submit, .have-product-submit span{
    display: inline-block;
    width: 96px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.product-options .product-preview{
    background: #F6FAFF;
    border: 1px solid #DFEAF8;
    color: #4895E7;
    margin-left: 260px;
}
.product-options .product-submit{
    margin-left: 84px;
    background: #4895E7;
    color: #fff;
}
.select-total{
    height: 40px;
    line-height: 40px;
    background: #F7F8FC;
    border-radius: 2px;
    font-size: 12px;
    color: #82868A;
    padding-left: 18px;
}
.select-total > span > span{
    color: #4895E7;
}
.product-index{
    margin-right: 58px;
}
.have-product-submit{
    text-align: center;
    /*padding: 21px 0 120px 0;*/
}
.have-product-submit span{
    background: #4895E7;
    color: #fff;
}
.create-product .create-product-content{
    height: auto;
    /*overflow: auto;*/
}
#product-container{
    margin-top: 10px;
    margin-left: 100px;
    width: 681px;
    color: #A9ADB0;
    /*float: right;*/
}
.checkbox-inner-checked {
    width:16px;
    height:16px;
    border-color: #3c94ef;
    display:inline-block;
    border-radius:2px;
    background:#3c94ef;
    vertical-align: middle;
}
.checkbox-inner-checked:after {
    box-sizing: content-box;
    content: "";
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 8px;
    left: 6px;
    position: absolute;
    top: 5px;
    transform: rotate(45deg);
    width: 3px;
    transition: transform .15s ease-in .05s;
    transform-origin: center;
}
.have-product-list label{
    position: relative;
}
.demand-type-item{
    cursor: pointer;
    margin-left: 5px;
}
.have-product-list li:hover{
    /*background-color: #f5f7fa;*/
    background-color: #fafbfc;
}
.empty-data{
    height: 160px;
    line-height: 160px;
    text-align: center;
    color: #82868A;
    font-size: 16px;
    /*background-color: #f5f7fa;*/
}
.message-box{
    position: fixed;
    /*margin-top: 15vh;*/
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background: #FFFFFF;
    border: 1px solid #ECF0F5;
    box-shadow: 0 2px 6px 0 rgba(0,2,5,0.10);
    border-radius: 2px;
    /*display: none;*/
}
.message-title{
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    background: #F7F8FC;
    font-size: 14px;
    color: #64676A;
}
.message-title > span{
    display: inline-block;
    height: 38px;
    border-bottom: 2px solid #4895E7;
    padding: 0 2px;
}
.message-body{
    padding: 17px 20px 25px 20px;
}
.message-body-desc{
    height: 70px;
    line-height: 70px;
    background: #ecf4fc;
    border-radius: 2px 2px 0 0;
    text-align: center;
}
.message-body-desc > span{
    margin-left: 18px;
    color: #4895E7;
}
.message-product-list{
    padding-bottom: 18px;
}
.message-product-list li{
    height: 38px;
    line-height: 38px;
    border: 1px solid #EFF1F3;
    border-top: none;
    font-size: 12px;
    color: #64676A;
    padding: 0 60px 0 21px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.message-warning{
    padding: 0 8px;
    font-size: 12px;
    color: #64676A;
    line-height: 17px;
}
.message-footer{
    text-align: center;
    padding-bottom: 21px;
}
.message-footer > span,.ensure-submit{
    display: inline-block;
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.message-footer > span:nth-child(1){
    background: #F6FAFF;
    border: 1px solid #DFEAF8;
    color: #4895E7;
    margin-right: 50px;
}
.message-footer > .ensure-submit{
    background: #4895E7;
    color: #FFFFFF;
}
.submit-success{
    width: 100%;
    height: 180px;
    background: #DFEAF8;
    border-radius: 2px;
    padding: 55px 0 32px 0;
    overflow: hidden;
    margin-top: 31px;
    /*display: none;*/
}
.submit-success > div:first-child{
    width: 50%;
    height: 100px;
    float: left;
    text-align: right;
    position: relative;
}
.submit-success > div:first-child img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.submit-success > div:last-child{
    width: 50%;
    float: left;
    padding-left: 17px;
}
.submit-success-desc > div:nth-child(1){
    font-size: 16px;
    color: #4895E7;
    margin-bottom: 9px;
}
.submit-success-desc > div:nth-child(2){
    font-size: 12px;
    color: #82868A;
    margin-bottom: 18px;
}
.submit-success-desc > div:nth-child(2) span{
    color: #4895E7;
    cursor: pointer;
}
.submit-success-desc > div:nth-child(3) {
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #F6FAFF;
    border: 1px solid #DFEAF8;
    border-radius: 2px;
    color: #4895E7;
    cursor: pointer;
}
.submit-list li{
    width: 100%;
    height: 51px;
    line-height: 51px;
    padding-left: 40px;
    border: 1px solid #E7EAED;
    border-top: none;
    font-size: 12px;
    color: #64676A;
}
.submit-list li > span:first-child{
    display: inline-block;
    width: 45px;
}
.success-status{
    display: none;
    min-height: 480px;
    padding: 0 42px 0 47px;
}
.create-product-author .xm-select-parent{
    width: 225px;
    float: left;
}
.create-product-author .xm-icon-yes{
    display: none;
}
.create-product-author .xm-select-parent .xm-select-title div.xm-select-label>span{
    background: none;
    color: inherit;
}
.create-product-author .xm-form-selected .xm-select:hover{
    border-color: #E9EBEC!important;
}
.create-product-author .xm-form-selected .xm-select{
    border-color: #E9EBEC!important;
}
.create-product-author .xm-select-parent .xm-select:hover{
    border-color: #E9EBEC;
}
.create-product-cover > img{
    width: 150px;
    height: 85px;
    display: inline-block;
    background: url(../../images/demandHall/bg_image_big.png);
/*../../../static/images/article/bg_image_big.jpg*/
}
.create-product > ul .create-product-cover{
    height: auto;
}
.picture-type{
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}
.picture-type > div{
    width: 100px;
    height: 40px;
    background: #F6FAFF;
    border: 1px solid #DFEAF8;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    color: #4895E7;
    cursor: pointer;
}
.picture-type > div:first-child{
    margin-bottom: 4px;
}
#containerQiniuCardPhoto{
    height: 0;
}
.message-box-wrapper, .new-product-message, .new-product-message-local, .product-preview-message{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    display: none;
}
.product-preview-message .new-message-box{
    width: 60%;
}
.new-message-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
}
.new-message-box .new-message-title{
    background: #fff;
    padding: 20px 20px 0 20px;
    overflow: hidden;
}
.new-message-box .new-message-title li{
    float: left;
    color: #2c3e50;
    padding-bottom: 10px;
    cursor: pointer;
}
.nav-active{
    border-bottom: 2px solid #4895E7;
}
.new-message-box .new-message-title li:first-child{
    margin-right: 25px;
}
.new-message-box .message-body{
    background: #f3f5f8;
    height: 214px;
    box-sizing: content-box;
    /*overflow-y: scroll;*/
    overflow-y: auto;
}
.new-message-box .message-footer{
    background: #fff;
    padding: 10px 20px 20px;
    text-align: right;
    box-sizing: border-box
}
.new-message-box .message-footer .cancel-submit{
    margin-right: 10px;
}
.message-body-online ul{
    overflow: hidden;
}
.message-body-online ul li{
    width: 120px;
    height: 97px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    cursor: pointer;
    position: relative;
}
.message-body-online ul li > div{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0, .3);
    display: none;
}
.message-body-online ul li img{
    width: 97px;
    height: 97px;
}
.message-body-local > div > span:first-child{
    display: inline-block;
    width: 100px;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.message-body-local > div > span:nth-child(2){
    display: inline-block;
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #409eff;
    background: #ecf5ff;
    border: 1px solid #b3d8ff;
    border-radius: 2px;
    cursor: pointer;
}
input, textarea{
    color: #606266;
}
input:hover, textarea:hover, .create-product-title input:hover{
    border-color: #C0C4CC;
}
input:focus, textarea:focus, .create-product-title input:focus{
    border-color: #409eff;
}
.demand-detail-step2-wrap .xm-form-selected .xm-select{
    border-color: #409eff !important;
}
.demand-detail-step2-wrap .xm-form-selected .xm-select:hover{
    border-color: #409eff !important;
}
.author-prompt, .title-prompt, .price-prompt{
    position: relative;
    display: none;
}
.author-prompt span, .title-prompt span, .price-prompt span{
    position: absolute;
    top: 25px;
    left: 100px;
    font-size: 12px;
    color: #f56c6c;
}
.title-prompt span, .price-prompt span{
    top: -10px;
}
.content-prompt{
    display: none;
    height: 12px;
    padding-left: 100px;
    font-size: 12px;
    color: #f56c6c;
}
.close-icon{
    float: right;
    cursor: pointer;
}
.new-product-message-local .empty-data{
    text-align: center;
    line-height: 200px;
    font-size: 18px;
    display: none;
    color: #82868A;
}
.preview-title{
    text-align: center;
    padding: 15px 10px 10px;
}
.preview-info{
    text-align: center;
    padding: 0 0 20px;
}
.preview-author{
    margin-right: 20px;
}
.preview-content{
    color: #606266;
 }
.load-icon{
    -webkit-animation: load  2s linear 0s infinite;
    animation:load 2s linear 0s infinite;
}

@keyframes load{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
    }
}
.new-product-message-local .message-body-online > ul > li img{
    width: 130px;
}
.new-product-message-local .new-message-box{
    width: 600px;
}



input::-webkit-input-placeholder{
    color: #82868A;
    font-size: 12px;
}
input::-moz-placeholder{
    color: #82868A;
    font-size: 12px;
}

.edui-editor-toolbarboxinner .edui-default{
    height: 20px;
    line-height: 20px;
}
.view{
    height: 160px !important;
    color: #606266 !important;
}
.create-product-author .xm-select-parent .xm-select-title div.xm-select-label>span{
    color: #606266;
}
.create-product .layui-upload-file{
    /*visibility: hidden;*/
    display: none;
}
.create-product-author div[xm-select-skin] .xm-select-title div.xm-select-label>span{
    border: none;
}
.create-product-author .xm-iconfont{
    display: none;
}
.create-product-author .xm-select-tips{
    display: none;
}
