.header-wrap{
    height: 68px;
    background: #4593e7;
    line-height: 68px;
    border-bottom: 1px solid #99c1ed;
  }
  .header-con-wrap{
    width: 1170px;
    margin: 0 auto;
    color: #fff;
  }
  .header-lt-wrap{
    text-align: left;
  }
  .header-lt-wrap>img{
    float: left;
    padding-top: 12px;
  }
  .header-lt-wrap span{
    float: left;
  }
  .header-lt-wrap .logo-line{
    height: 30px;
    width: 1px;
    background: #fff;
    opacity: 0.4;
    filter: Alpha(opacity=40);
    margin: 17px 9px 0;
  }
  .header-lt-wrap .logo-tit{
    font-size: 26px;
  }
  .login-wrap{
    padding-top: 30px;
    background: #eceff4;
  }
  .login-con-wrap{
    width: 1170px;
    margin: 0 auto;
    background: #fff;
    border-radius: 2px;
    padding: 102px 0;
  }
  .login-div{
    width: 292px;
    margin: 0 auto;
  }
  .login-tab-wrap{
    position: relative;
  }
  .login-tab{
    margin-bottom: 25px;
  }
  .login-tab li{
    float: left;
    width: 50%;
    border-bottom: 1px solid #e2e4e7;
    padding-bottom: 16px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  .login-tab li.active,.login-tab li:hover{
    color: #4895e7;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }
  .login-tab-wrap .active-line{
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background: #4895e7;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }
  .login-input-wrap{
    position: relative;
  }
  .login-input-wrap input{
    width: 292px;
    height: 48px;
    padding: 8px 10px;
    border: 1px solid #e2e4e7;
    border-radius: 4px;
  }
  .login-input-wrap input.active{
    border-color: #4895e7;
  }
  .login-input-wrap input.pwd{
    margin: 30px 0 12px;
  }
  .login-input-wrap .btn-code{
    position: absolute;
    bottom: 1px;
    right: 1px;
    display: inline-block;
    width: 118px;
    height: 46px;
    line-height: 46px;
    background: #4895e7;
    border-left: 1px solid #e2e4e7;
    color: #fff;
    cursor: pointer;
  }
  .radio-wrap{

  }
  .radio-wrap span{
    float: left;
  }
  .radio-wrap .radio-span{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid #e2e4e7;
    margin-right: 5px;
    cursor: pointer;
  }
  .login-bot-wrap span{
    text-align: center;
    color: #4895e7;
    cursor: pointer;
  }
  .login-bot-wrap .login-foget{
    float: left;
  }
  .login-bot-wrap .login-reg{
    float: right;
  }
  .login-btn-wrap{
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin: 30px 0 9px;
    background: #4895e7;
    font-size: 16px;
  }