<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no,email=no">
	<meta name="robots" content="all" />
	<meta name="googlebot" content="index,follow" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta http-equiv="Content-Language" content="zh-CN" />
	<title>圆融内容交易服务中心手机版 H5页面 M站_圆融内容生产 传播 变现 资产化的一站式交易平台</title>
	<meta http-equiv="keywords" content='圆融,圆融内容交易服务中心,内容交易平台,圆融内容银行,圆融内容交易,内容银行,微播易,新榜,Robin8,短视频营销,内容生产创作,微信营销,微博营销,自媒体变现,内容营销,KOL自媒体,内容创业' />
	<meta http-equiv="description" content="圆融内容交易服务中心手机版,由中国传媒大学,内容银行重点实验室成立,圆融内容银行交易服务中心,内容交易平台,圆融,圆融内容交易服务中心,圆融内容银行,圆融内容交易:短视频广告营销(秒拍，美拍，快手，抖音)，微信变现，微博赚钱,类似：微播易,新榜,Robin8,短视频营销,内容生产创作,微信营销,微博营销,自媒体变现,内容营销,KOL自媒体,内容创业），目的是构建内容生产、传播、变现、资产化的一站式交易平台，面向内容创作者、广告主、代理公司、投融资机构等产业各方，提供内容价值评估、需求对接、资产孵化、交易保障、版权保护等服务，打造内容产业新生态。" />
	<meta name="keywords" content='圆融,圆融内容交易服务中心,内容交易平台,圆融内容银行,圆融内容交易,内容银行,微播易,新榜,Robin8,短视频营销,内容生产创作,微信营销,微博营销,自媒体变现,内容营销,KOL自媒体,内容创业' />
	<meta name="description" content="圆融内容交易服务中心手机版,由中国传媒大学,内容银行重点实验室成立,圆融内容银行交易服务中心，内容交易平台,圆融,圆融内容交易服务中心,圆融内容银行,圆融内容交易:短视频广告营销(秒拍，美拍，快手，抖音)，微信变现，微博赚钱,类似：微播易,新榜,Robin8,短视频营销,内容生产创作,微信营销,微博营销,自媒体变现,内容营销,KOL自媒体,内容创业），目的是构建内容生产、传播、变现、资产化的一站式交易平台，面向内容创作者、广告主、代理公司、投融资机构等产业各方，提供内容价值评估、需求对接、资产孵化、交易保障、版权保护等服务，打造内容产业新生态。" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="${request.contextPath}/css/h5/common/index.css?${mdc_version}">
</head>
<body>
	<!-- banner -->
	<section class="banner fixedClear" id="js-banner">
		<input type="hidden" value="${request.contextPath}" id="domain">
			<!-- 头部 -->
			<header class="fixedClear">				
				<div class="head-l">
					<img src="${request.contextPath}/images/h5/logo.png" alt="">
					<div class="head-l-p">
						<p>中国传媒大学</p>
						<p>内容银行重点实验室</p>
					</div>	
				</div>
				<div class="head-r">
					<p>原创者入住</p>	
					<span></span>
					<p>广告主入住</p>
					<p id="phone"></p>	
				</div>			
			</header>
			<!-- 中部 -->
			<h1 class="fixedClear">中国首家内容交易服务平台</h1>
			<span class="row-line"></span>
			<!-- 下部 -->
			<div class="yuanrong-bg">
				<!-- <img src="../../bgImg/h5/yr_bg.png" alt=""> -->
			</div>
			<div class="bottom-wrap">
				<div class="bottom fixedClear">
					<dl>
						<dt class="fixedClear">
							<img src="${request.contextPath}/images/h5/banner_icon_1.png" alt="">
							<div>
								<p>内容</p>
								<p>银行</p>
							</div>
							
						</dt>
						<dd>
							<p>优质内容发掘</p>
							<p>原创作者汇聚</p>
						</dd>
					</dl>
					<dl class="mid-dl">
						<dt class="fixedClear">
							<img src="${request.contextPath}/images/h5/banner_icon_2.png" alt="">
							<div>
								<p>I&nbspP</p>
								<p>交易</p>
							</div>
							
						</dt>
						<dd>
							<p>多种交易形式</p>
							<p>资源按需匹配</p>
						</dd>
					</dl>
					<dl>
						<dt class="fixedClear">
							<img src="${request.contextPath}/images/h5/banner_icon_3.png" alt="">
							<div>
								<p>I&nbspP</p>
								<p>评估</p>
							</div>
							
						</dt>
						<dd>
							<p>多维权威评估</p>
							<p>重塑内容价值</p>
						</dd>
					</dl>
			</div>
			<div class="arr-img-wrap fixedClear">
	        	<img class="arr-img" src="${request.contextPath}/images/h5/arr_down.png" alt="">
	    	</div>
			</div>
			
	</section>
	<!-- 全链条内容交易服务 -->
	<section class="trade-wrap fixedClear">
		<div class="con-trade">
			<h1>全链条内容交易服务</h1>
			<span></span>
			<p>构建内容生产、传播、变现、资产化、的一站式交易平台，面向内容创作者、广告主、代理公司、投融资机构等产业各方，提供内容价值评估、需求对接、资产孵化、交易保障、版权保护等服务，打造内容产业新生态。</p>
		</div>
		<div class="trade-more">
			<img src="${request.contextPath}/images/h5/trade_icon_1.png" alt="">
			<span></span>
			<h2>原创交易</h2>
			<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">作品采买</p>
			<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">内容定制</p>
		</div>
		<div class="trade-more">
			<img src="${request.contextPath}/images/h5/trade_icon_2.png" alt="">
			<span></span>
			<h2>营销资源交易</h2>
			<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">代理权包段</p>
			<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">项目制购买</p>
		</div>
		<div class="trade-more">
			<img src="${request.contextPath}/images/h5/trade_icon_3.png" alt="">
			<span></span>
			<h2>IP资产交易</h2>
			<p class="trade-more-ip"><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">IP孵化</p>
			<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">资产流通</p>
		</div>
	</section>
	<!-- 权威价值评估体系 -->
	<section class="value-wrap">
		<div class="con-value">
			<h1>权威价值评估体系</h1>
			<span></span>
			<p>依托<span>中国传媒大学内容银行重点实验室</span>，面向内容原创交易、营销资源交易、资产化交易等多场景，构建多维度评估体系，重新定义、发现内容价值，实现内容“资产化”，提高交易效率，为内容产业赋能。</p>
		</div>
		<div class="value-more">
			<img src="${request.contextPath}/images/h5/au_icon_1_active.png" alt="">
			<h2>多源海量数据</h2>
			<div class="value-more-con">
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">媒体平台数据</p>
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">运营商数据</p>
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">专家评审数据</p>
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">平台交易数据</p>
			</div>
		</div>
		<div class="value-more">
			<img src="${request.contextPath}/images/h5/au_icon_2_active.png" alt="">
			<h2>AI智能算法</h2>
			<div class="value-more-con value-more-m">
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">智能分类</p>
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">语义分析</p>
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">情感识别</p>
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">深度学习</p>
			</div>
		</div>
		<div class="value-more">
			<img src="${request.contextPath}/images/h5/au_icon_3_active.png" alt="">
			<h2>多维动态评估</h2>
			<div class="value-more-con value-more-b">
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">内容价值评估</p>
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">营销价值评估</p>
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">投资价值评估</p>
				<p><img src="${request.contextPath}/images/h5/circle_12px.png" alt="">多维度标签体系</p>
			</div>
		</div>
	</section>
	<!-- 海量优质资源按需匹配 -->
	<section>
		<div class="high-quality">
			<h1>海量优质资源按需匹配</h1>
			<span></span>
			<p>近千个需求方长期合作，汇聚广告主、代理公司、投融资机构等多类需求主体；数万个资源方入驻平台，覆盖短视频、微信、微博、MCN机构等平台优质资源；多种类资源开发、多样化定价模式、多形态交易方式，快速匹配资源与需求两端市场，实现内容资源价值最大化</p>
			<div class="high-con">
				<dl>
					<dt>1000<sup>+</sup></dt>
					<dd>需求方</dd>
					<span></span>
				</dl>
				<dl>
					<dt><i>100000<sup>+</sup></i></dt>
					<dd>资源方</dd>
					<span></span>
				</dl>
			</div>
		</div>
	</section>
	<!-- 在这里，发现你的价值 -->
	<section class="here">
		<div class="here-value">
			<h1>在这里，发现你的价值</h1>
			<span></span>
		</div>
		<div class="here-jion">
			<div class="here-jion-l">
				<img src="${request.contextPath}/images/h5/here_logo1.png" alt="">
				<p>我是广告主</p>
				<span>我要入住></span>
			</div>
			<div class="here-jion-r">
				<img src="${request.contextPath}/images/h5/here_logo2.png" alt="">
				<p>我是创作者</p>
				<span>我要入住></span>
			</div>
		</div>
	</section>
	<!-- 合作伙伴 -->
	<section class="partner">
		<div class="partner-tit">
			<h1>合作伙伴</h1>
			<span></span>
		</div>
		<div class="nice-partners">
			<ul>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_001.jpg" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_002.jpg" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_003.jpg" alt="">
				</li>
			</ul>
			<ul>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_004.jpg" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_005.jpg" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_006.jpg" alt="">
				</li>
			</ul>
			<ul>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_007.jpg" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_008.jpg" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_009.jpg" alt="">
				</li>
			</ul>
			<ul>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_010.jpg" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/h5/cooperation_11.jpg" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_012.jpg" alt="">
				</li>
			</ul>
			<ul>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_013.jpg" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_014.jpg" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_015.jpg" alt="">
				</li>
			</ul>
			<ul>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_016.jpg" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/h5/cooperation_17.png" alt="">
				</li>
				<li>
					<img src="${request.contextPath}/images/index/cooperation_018.jpg" alt="">
				</li>
			</ul>
		</div>
	</section>
	<!-- 底部 -->
	<footer class="bot">
		<div class="bot-top">
			<img src="${request.contextPath}/images/h5/footer_logo_01.png" alt="">
			<span>
				<img src="${request.contextPath}/images/h5/footer_border.png" alt="">
			</span>
			<img src="${request.contextPath}/images/h5/footer_logo_02.png" alt="">
		</div>
		<div class="bot-foot fixedClear">
			<p>友情链接：赤兔联盟 | 汽车大全</p>
			<p>CopyRight @2018 yuanrong All Rights Reserved 圆融内容交易服务中心   京ICP备17011360号-1</p>
		</div>
	</footer>
    
<#include "/h5/common/js_script.html"/> 
<script src="${request.contextPath}/js/h5/common/index.js?${mdc_version}"></script>
</body>
</html>